:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

#games-section {
  text-align: center;
  margin-top: 50px;
}

.game-btn,
#backBtn {
  display: inline-block;
  margin: 10px;
  padding: 0;
  width: 200px;
  height: 250px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.game-btn:hover,
#backBtn:hover {
  background-color: rgba(0, 123, 255, 0.5);
}

.game-btn span {
  display: block;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#main-content {
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#backBtn {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #007bff;
}

#backBtn:hover {
  background-color: #0056b3;
}

#ticTacToeBtn {
  background-image: url('/tic-tac-toe.png');
}

#rockPaperScissorsBtn {
  background-image: url('/rock-paper-scissors.png');
}

#bingoBtn {
  background-image: url('/bingo.png');
}
